apiVersion: v1
kind: Secret
metadata:
  name: grafana-secrets
  namespace: ecommerce-dev
type: Opaque
data:
  # admin password: base64 encoded (admin123)
  admin-password: YWRtaW4xMjM=
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-provisioning
  namespace: ecommerce-dev
data:
  datasources.yml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-service:9090
        isDefault: true
        editable: true
      - name: Zipkin
        type: zipkin
        access: proxy
        url: http://zipkin-service:9411
        editable: true

  dashboards.yml: |
    apiVersion: 1
    providers:
      - name: 'ecommerce-dashboards'
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        allowUiUpdates: true
        options:
          path: /etc/grafana/provisioning/dashboards

  notifiers.yml: |
    apiVersion: 1
    notifiers:
      - name: webhook
        type: webhook
        uid: webhook1
        org_id: 1
        is_default: true
        settings:
          url: http://alertmanager-service:9093/api/v1/alerts
          httpMethod: POST