apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: ecommerce-cluster-prod
  region: us-east-1

nodeGroups:
  - name: critical-nodes
    instanceType: m7i-flex.large
    minSize: 1
    maxSize: 3
    desiredCapacity: 2
    
    labels:
      node-type: critical
    
    taints:
      - key: "critical-workloads"
        value: "true"
        effect: "NoSchedule"

  - name: standard-nodes
    instanceType: m7i-flex.large
    minSize: 2
    maxSize: 6
    desiredCapacity: 3
    
    labels:
      node-type: standard

  - name: burst-nodes
    instanceType: m7i-flex.large
    minSize: 0
    maxSize: 10
    desiredCapacity: 1
    
    labels:
      node-type: burst

