apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zipkin-pvc
  namespace: ecommerce-dev
  labels:
    app: zipkin
    component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: gp2  # AWS EBS GP2 storage class