apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-proxy-config
  namespace: ecommerce-dev
data:
  application.yml: |
    spring:
      cloud:
        gateway:
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin, RETAIN_UNIQUE
          globalcors:
            add-to-simple-url-handler-mapping: true
            cors-configurations:
              '[/**]':
                allowed-origins: "${CLIENT_HOST:http://localhost:4200}"
                allowed-headers: "*"
                exposed-headers: "*"
                allow-credentials: true
                allowed-methods: 
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - PATCH
                  - OPTIONS
          routes:
          # PROXY-CLIENT CENTRIC: All routes go through proxy-client
          - id: ORDER-SERVICE-PROXY
            uri: lb://PROXY-CLIENT
            predicates:
            - Path=/order-service/**
          - id: PAYMENT-SERVICE-PROXY
            uri: lb://PROXY-CLIENT
            predicates:
            - Path=/payment-service/**
          - id: PRODUCT-SERVICE-PROXY
            uri: lb://PROXY-CLIENT
            predicates:
            - Path=/product-service/**
          - id: SHIPPING-SERVICE-PROXY
            uri: lb://PROXY-CLIENT
            predicates:
            - Path=/shipping-service/**
          - id: USER-SERVICE-PROXY
            uri: lb://PROXY-CLIENT
            predicates:
            - Path=/user-service/**
          - id: FAVOURITE-SERVICE-PROXY
            uri: lb://PROXY-CLIENT
            predicates:
            - Path=/favourite-service/**
          - id: PROXY-CLIENT
            uri: lb://PROXY-CLIENT
            predicates:
            - Path=/app/**