apiVersion: v1
kind: ConfigMap
metadata:
  name: microservices-config
  namespace: ecommerce-dev
data:
  SPRING_PROFILES_ACTIVE: "kubernetes"
  SPRING_ZIPKIN_BASE_URL: "http://zipkin-service:9411"
  SPRING_CONFIG_IMPORT: "optional:configserver:http://cloud-config-service:9296"
  MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "health,info,metrics,prometheus"
  MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS: "always"