apiVersion: v1
kind: ConfigMap
metadata:
  name: eureka-config
  namespace: ecommerce-dev
data:
  application.yml: |
    eureka:
      client:
        service-url:
          defaultZone: http://service-discovery-service:8761/eureka/
        register-with-eureka: true
        fetch-registry: true
        enabled: true
      instance:
        prefer-ip-address: true
        lease-renewal-interval-in-seconds: 30
        lease-expiration-duration-in-seconds: 90