apiVersion: v1
kind: Service
metadata:
  name: eureka-external
  namespace: ecommerce-dev
  labels:
    app: service-discovery
    component: discovery
    tier: external
spec:
  type: LoadBalancer
  ports:
  - port: 8761
    targetPort: 8761
    protocol: TCP
    name: http
  selector:
    app: service-discovery