# NODEPORT SERVICES PARA DESARROLLO LOCAL Y ACCESO DIRECTO
# Estos servicios permiten acceso desde fuera del cluster usando Node IP + NodePort

---
# API Gateway NodePort para acceso directo
apiVersion: v1
kind: Service
metadata:
  name: api-gateway-nodeport
  namespace: ecommerce-dev
  labels:
    app: api-gateway
    service-type: nodeport
    tier: web
spec:
  type: NodePort
  selector:
    app: api-gateway
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080  # Acceso externo vía <node-ip>:30080
    protocol: TCP
    name: http
---
# Eureka Service Discovery NodePort para administración
apiVersion: v1
kind: Service
metadata:
  name: eureka-nodeport
  namespace: ecommerce-dev
  labels:
    app: service-discovery
    service-type: nodeport
    tier: infrastructure
spec:
  type: NodePort
  selector:
    app: service-discovery
  ports:
  - port: 8761
    targetPort: 8761
    nodePort: 30761  # Acceso externo vía <node-ip>:30761
    protocol: TCP
    name: http
---
# Zipkin NodePort para tracing y debugging
apiVersion: v1
kind: Service
metadata:
  name: zipkin-nodeport
  namespace: ecommerce-dev
  labels:
    app: zipkin
    service-type: nodeport
    tier: monitoring
spec:
  type: NodePort
  selector:
    app: zipkin
  ports:
  - port: 9411
    targetPort: 9411
    nodePort: 30411  # Acceso externo vía <node-ip>:30411
    protocol: TCP
    name: http
---
# Cloud Config NodePort para configuración externa
apiVersion: v1
kind: Service
metadata:
  name: cloud-config-nodeport
  namespace: ecommerce-dev
  labels:
    app: cloud-config
    service-type: nodeport
    tier: infrastructure
spec:
  type: NodePort
  selector:
    app: cloud-config
  ports:
  - port: 9296
    targetPort: 9296
    nodePort: 30296  # Acceso externo vía <node-ip>:30296
    protocol: TCP
    name: http
---
# User Service NodePort para testing directo
apiVersion: v1
kind: Service
metadata:
  name: user-service-nodeport
  namespace: ecommerce-dev
  labels:
    app: user-service
    service-type: nodeport
    tier: application
spec:
  type: NodePort
  selector:
    app: user-service
  ports:
  - port: 8700
    targetPort: 8700
    nodePort: 30700  # Acceso externo vía <node-ip>:30700
    protocol: TCP
    name: http
---
# Product Service NodePort para testing directo
apiVersion: v1
kind: Service
metadata:
  name: product-service-nodeport
  namespace: ecommerce-dev
  labels:
    app: product-service
    service-type: nodeport
    tier: application
spec:
  type: NodePort
  selector:
    app: product-service
  ports:
  - port: 8500
    targetPort: 8500
    nodePort: 30500  # Acceso externo vía <node-ip>:30500
    protocol: TCP
    name: http